@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

body {
	color:white;
}
.col-md-offset-5{
	margin-left:34.6712%;
}
.col-md-12{
	font-family: Cooper Std Black Italic;
	font-weight: bold italic; 
}
.show-signup {
	color:white;
}

.signupdiv {
	background-color: rgba(49, 57, 63, 0.78);
	border-style: solid;
	border-width: medium;
	border-color: black;
	border-radius: 5px;
	width: 200%;
	padding: 25% 50% 15% 50%;
	margin-top: 25%;
}

.show-signin {
	color:white;
}

.signindiv {
	background-color: rgba(49, 57, 63, 0.78);
	border-style: solid;
	border-width: medium;
	border-color: black;
	border-radius: 5px;
	width: 200%;
	padding: 25% 50% 15% 50%;
	margin-top: 25%;
}