@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

body {
	color:white;
}

.show-signup {
	color:white;
}

.signupdiv {
	background-color: #31393f;
	border-style: solid;
	border-width: medium;
	border-color: black;
	border-radius: 5px;
	width: 200%;
	padding: 25% 50% 15% 50%;
	margin-top: 100%;
}
